/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Geral */
  body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Cabeçalho */
  header {
    margin: auto;
    text-align: center;
    width: 100%;
    color: rgb(178, 25, 25);
    font-size: 2rem;
    padding: 1rem 0;
  }

  main {
    margin: 30px auto auto auto;
    text-align: center;
  }

  form{
    display: inline-block;
    text-align: left;
    margin:auto;
  }

  button{
    width: 100%;
    background-color:#269a1b;
    color: white;
  }