html{
    background-color: whitesmoke;
}

h1{
    color: blue;
    text-align: center;
}

#Java{
    height: 200px;
    width: 200px;
    
}
#C{
    height: 200px;
    width: 200px;
}
#sql{
    height: 200px;
    width: 200px;
}
#php{
    height: 200px;
    width: 200px;
}
#js{
    height: 200px;
    width: 200px;
}

#links{
    left: -300px;
}

p{
    color: green;
}

#button_ida{
    text-align: center;
}

#button_volta{
    text-align: center;

}

a:hover{
    color: green;
}

table{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #f4f4f4;
}

th, td {
    border: 2px solid black;
    text-align: left;
    padding: 10px;
}
