body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

canvas {
  background: #444;
  display: block;
  margin: 20px auto;
  border: 3px solid #000;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #0077cc;
}

.gif_carro {
  width: 400px;
  height: 400px;
  text-align: center;
  margin-top: 80px;
}

.div_index {
  background-color: #2d2d2d;
  color: white;
}

.info_dev {
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  margin: auto;
  color: white;
  height: 350px;
  width: 420px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: -10px;
}

.customize_jogo {
  background-color: #2d2d2d;
  color: white;
}

.link_home {
  color: white;
}

.body_dev {
  background-color: #000;
  color: white;
}

.teclado {
  width: 300px;
  height: 200px;
  margin-right: 50px;
}

.mouse {
  width: 300px;
  height: 200px;
}

/* CONTAINER do jogo */
.game-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  text-align: center;

}

/* Botão reiniciar visível só no Game Over */
#restartButton {
  display: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10;
}
