<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="resposta_login.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Resposta</h1>
    </header>

    <main>
        <p>Nome: <%= nomeLogin %> </p>
        <p>Sobrenome: <%= sobrenomeLogin %> </p>
        <p>Nascimento: <%= nascimentoLogin %> </p>
        <p>Estado civil: <%= estado_civilLogin %> </p>
    </main>

</body>
</html>
