/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Geral */
  body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
/* Cabeçalho */
  header {
    margin: auto;
    text-align: center;
    width: 100%;
    color: rgb(252, 248, 8);
    font-size: 2rem;
    padding: 1rem 0;
  }

  main {
    margin: 30px auto auto auto;
    text-align: center;
  }